{% extends 'layouts/vertical.html' %} {% block title %}Form Wizard{% endblock title %} {% block extra_css %}

<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/plugins/dropzone/dropzone.css" type="text/css" />
<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/plugins/daterangepicker/daterangepicker.css" type="text/css" />
<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/plugins/choices/choices.min.css" />
<link href="{{ config.ASSETS_ROOT }}/plugins/quill/quill.core.css" rel="stylesheet" type="text/css" />
<link href="{{ config.ASSETS_ROOT }}/plugins/quill/quill.snow.css" rel="stylesheet" type="text/css" />

<!-- Tagify Plugin CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify@4.35.1/dist/tagify.min.css" />

<style>
  /* Add this CSS to a custom stylesheet or within a <style> tag in your extra_css block */
  .tall-input {
    /* Adjust this height (in pixels) until it visually matches the height 
       of your Choices.js multiple-select box. */
    height: 46px !important;
  }

  .choices.is-invalid .choices__inner {
    border-color: #f1556c; /* Bootstrap's danger color */
  }

  /* Add red border to invalid Dropzone container */
  .dropzone.is-invalid {
    border-color: #f1556c; /* Bootstrap's danger color */
  }

  /* Add red border to invalid Tagify container */
  tagify.is-invalid + .tagify {
    border-color: #f1556c;
  }

  .choices.choices.is-invalid {
    margin-bottom: 0px !important;
  }

  .choices.is-valid .choices__inner {
    border-color: #0acf97; /* Bootstrap's success color */
  }

  .choices {
    margin-bottom: 0px !important;
  }

  .was-validated #quill-editor:has(+ #description:invalid) .ql-container {
    border-color: #f1556c !important; /* Bootstrap's danger color */
  }
</style>
{% endblock extra_css %} {% block page_content %}

<div class="container-fluid">
  {% set title='Create Job' %} {% set subtitle='Jobs' %} {% include 'partials/page-title.html' %}

  <div class="row justify-content-start">
    <div class="col-xxl-8">
      <div class="card">
        <div class="card-header justify-content-between">
          <h4 class="card-title">Job Creation</h4>
          <span class="badge badge-soft-success badge-label fs-xxs py-1">Exclusive</span>
        </div>
        <div class="card-body">
          <div class="ins-wizard" data-wizard>
            <!-- Navigation Tabs -->
            <ul class="nav nav-tabs wizard-tabs" data-wizard-nav role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#jobInfo">
                  <span class="d-flex align-items-center">
                    <i class="ti ti-user-circle fs-32"></i>
                    <span class="flex-grow-1 ms-2 text-truncate">
                      <span class="mb-0 lh-base d-block fw-semibold text-body fs-base">Job Info</span>
                      <span class="fs-xxs mb-0">Basic details</span>
                    </span>
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#documents">
                  <span class="d-flex align-items-center">
                    <i class="ti ti-folder fs-32"></i>
                    <span class="flex-grow-1 ms-2 text-truncate">
                      <span class="mb-0 lh-base d-block fw-semibold text-body fs-base">Documents</span>
                      <span class="fs-xxs mb-0">Upload certificates</span>
                    </span>
                  </span>
                </a>
              </li>
            </ul>
            <!-- Content -->
            <div class="tab-content pt-3" data-wizard-content>
              <form id="createJobForm" method="POST" enctype="multipart/form-data" novalidate>
                <!-- Step 1: Job Info -->
                <div class="tab-pane fade show active" id="jobInfo">
                  <div class="row">
                    {# JOB NAME #}
                    <div class="col-xl-12">
                      <div class="mb-3">
                        <label class="form-label">Job Name</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter the job name"
                          name="job_name"
                          required
                        />
                        <div class="invalid-feedback">Please provide a Job Name</div>
                      </div>
                    </div>
                    {# DIVISION and COORDINATOR #}
                    <div class="row d-flex mb-3">
                      {# DIVISION #}
                      <div class="col-xl-6 d-flex">
                        <div class="h-100 w-100">
                          <label class="form-label">Division</label>
                          <select
                            class="form-select choices-js-required"
                            id="divisions-multiple-remove-button"
                            data-choices
                            data-choices-removeItem
                            name="divisions"
                            placeholder="Select divisions"
                            data-placeholder="Select divisions"
                            multiple
                            required
                          >
                            {% for division in divisions_list %}
                            <option value="{{ division._id }}">{{ division.name }}</option>
                            {% endfor %}
                          </select>
                          <div class="invalid-feedback">Please select at least one division.</div>
                        </div>
                      </div>
                      {# LEAD BY #}
                      <div class="col-xl-6 d-flex">
                        <div class="h-100 w-100">
                          <label class="form-label">Coordinator</label>
                          <select
                            class="form-select"
                            id="coordinators-multiple-remove-button"
                            data-choices
                            data-choices-removeItem
                            name="coordinators"
                            placeholder="Select Coordinator"
                            data-placeholder="Select Coordinator"
                            multiple
                          >
                            {% for user in user_list %}
                            <option value="{{ user._id }}">{{ user.name }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>
                    {# DESCRIPTION #}
                    <div class="col-xl-12">
                      <div class="mb-3">
                        <label class="form-label">Description</label>
                        <div id="quill-editor" class="quill-editor-required" style="height: 300px"></div>
                        <input type="hidden" name="description" id="description" required />
                        <div class="invalid-feedback">Please provide a job description.</div>
                      </div>
                    </div>
                    <div class="col-xl-12">
                      <div class="mb-3">
                        <label class="form-label">Tags</label>
                        <div>
                          <input
                            id="basicTagify"
                            class="form-control mb-2"
                            data-blacklist=".NET, PHP"
                            name="tags"
                            placeholder="Type in tags and press enter"
                          />
                          <button class="tags--removeAllBtn btn btn-sm btn-soft-danger" type="button">
                            Remove all these tags
                          </button>
                        </div>
                      </div>
                    </div>
                    {# DEADLINES AND SCHEDULES #}
                    <div class="my-3 border-top border-dashed"></div>
                    <h3 class="mb-3">
                      Deadline
                      <small class="text-body-secondary">& Schedules</small>
                    </h3>
                    {# DEADLINE #}
                    <div class="col-xl-6 d-flex">
                      <div class="mb-3 h-100 w-100">
                        <label class="form-label">Completion Date</label>
                        <input
                          type="text"
                          class="form-control date tall-input choices-js-required"
                          id="daterangetime"
                          name="completion_time"
                          data-toggle="date-picker"
                          data-time-picker="true"
                          placeholder="Select the completion date and time"
                          data-locale="{'format': 'MM/DD/YYYY hh:mm A'}"
                          required
                        />
                        <div class="invalid-feedback">Please select a completion date.</div>
                      </div>
                    </div>
                    {# SCHEDULES #} {# SCHEDULES TYPE #}
                    <div class="col-xl-3">
                      <div class="mb-0">
                        <label for="schedule_type" class="form-label">Schedule Type</label>
                        <select
                          class="form-select m-0 pb-0"
                          id="schedule_type"
                          name="schedule_type"
                          data-choices
                          required
                        >
                          <option value="" disabled selected>Select Schedule Type</option>
                          <option value="general_schedule">General Schedule</option>
                          <option value="priority_schedule">Priority Schedule</option>
                        </select>
                        <div class="invalid-feedback">Please select a schedule type.</div>
                      </div>
                    </div>
                    {# SCHEDULES POSITION #}
                    <div class="col-xl-3">
                      <div class="">
                        <label for="schedule_position" class="form-label">Schedule Position</label>
                        <input
                          type="number"
                          class="form-control tall-input"
                          placeholder="Enter the schedule position"
                          id="schedule_position"
                          name="schedule_position"
                          min="1"
                          required
                        />
                        <div class="invalid-feedback">Please provide a valid schedule position</div>
                      </div>
                    </div>
                    <div class="col-xl-9" id="empty_schedule_position"></div>

                    {# DROPZONE UPLOAD #}
                    <div class="col-xl-12">
                      <div class="pt-0">
                        <div
                          class="dropzone"
                          id="myAwesomeDropzone"
                          data-plugin="dropzone"
                          data-previews-container="#file-previews"
                          data-upload-preview-template="#uploadPreviewTemplate"
                        >
                          <div class="fallback">
                            <input name="file" type="file" />
                          </div>
                          <div class="dz-message needsclick">
                            <div class="avatar-lg mx-auto mb-3">
                              <span class="avatar-title bg-info-subtle text-info rounded-circle">
                                <i class="fs-24 ti ti-cloud-upload"></i>
                              </span>
                            </div>
                            <h4 class="mb-2">Drop files here or click to upload.</h4>
                            <p class="text-muted fst-italic mb-3">
                              You can drag images here, or browse files via the button below.
                            </p>
                            <button type="button" class="btn btn-sm shadow btn-default">Browse Images</button>
                          </div>
                        </div>
                        <div class="invalid-feedback" id="dropzone-error"></div>

                        <!-- Preview -->
                        <div class="dropzone-previews mt-3" id="file-previews"></div>

                        <!-- file preview template -->
                        <div class="d-none" id="uploadPreviewTemplate">
                          <div class="card mt-1 mb-0 border-dashed border">
                            <div class="p-2">
                              <div class="row align-items-center">
                                <div class="col-auto">
                                  <img data-dz-thumbnail src="#" class="avatar-sm rounded bg-light" alt="" />
                                </div>
                                <div class="col ps-0">
                                  <a href="javascript:void(0);" class="fw-semibold" data-dz-name></a>
                                  <p class="mb-0 text-muted" data-dz-size></p>
                                </div>
                                <div class="col-auto">
                                  <!-- Button -->
                                  <a href="" class="btn btn-link btn-lg text-danger" data-dz-remove>
                                    <i class="ti ti-x"></i>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- end file preview template -->
                      </div>
                    </div>
                  </div>

                  <div class="d-flex justify-content-end mt-3">
                    <button type="submit" class="btn btn-primary">Create Job</button>
                  </div>
                </div>
              </form>
              <!-- Step 2: Documents -->
              <div class="tab-pane fade" id="documents">
                <div class="mb-3"></div>
                <div class="d-flex justify-content-between mt-3">
                  <button type="button" class="btn btn-secondary" data-wizard-prev>← Back: Job Info</button>
                  <input type="submit" class="btn btn-success" />
                </div>
              </div>
            </div>
            <!-- tab-content -->
          </div>
          <!-- ins-wizard -->
        </div>
        <!-- end card body-->
      </div>
    </div>

    {# SCHEDULE POSITION TABLE #}
    <div class="col-xxl-4">
      {# General Schedule Jobs #}
      <div data-table data-table-rows-per-page="5" class="card">
        <div class="card-header">
          <h4 class="card-title">General Schedule Jobs</h4>
        </div>

        <div class="card-header border-light justify-content-between">
          <div class="d-flex gap-2">
            <div class="app-search">
              <input data-table-search type="search" class="form-control" placeholder="Search job name..." />
              <i data-lucide="search" class="app-search-icon text-muted"></i>
            </div>
            <button data-table-delete-selected class="btn btn-danger d-none">Delete</button>
          </div>

          <!-- Records Per Page -->
          <div>
            <select data-table-set-rows-per-page class="form-select form-control my-1 my-md-0">
              <option value="2">2</option>
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
            </select>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-custom table-centered table-select table-hover w-100 mb-0">
            <thead class="bg-light align-middle bg-opacity-25 thead-sm">
              <tr class="text-uppercase fs-xxs">
                <th style="width: 25%">Position</th>

                <th>Job</th>
                <th class="text-center" style="width: 1%">Actions</th>
              </tr>
            </thead>
            <tbody id="general_schedule_tbody">
              {% for job in general_schedule_jobs_list %}
              <tr>
                <td>{{ job.schedule_position }}</td>
                <td>
                  <div class="d-flex">
                    <div>
                      <h5 class="mb-1">
                        <a href="/ecommerce-product-details" class="link-reset">{{ job.job_name }}</a>
                      </h5>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex justify-content-center gap-1">
                    <a href="#" class="btn btn-light btn-icon btn-sm rounded-circle"><i class="ti ti-eye fs-lg"></i></a>
                  </div>
                </td>
              </tr>

              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="card-footer border-0">
          <div class="d-flex justify-content-end align-items-center">
            <div data-table-pagination></div>
          </div>
        </div>
      </div>
      <hr class="mb-4 mt-4" />
      {# Priority Schedule Jobs #}
      <div data-table data-table-rows-per-page="5" class="card">
        <div class="card-header">
          <h4 class="card-title">Priority Schedule Jobs</h4>
        </div>

        <div class="card-header border-light justify-content-between">
          <div class="d-flex gap-2">
            <div class="app-search">
              <input data-table-search type="search" class="form-control" placeholder="Search job name..." />
              <i data-lucide="search" class="app-search-icon text-muted"></i>
            </div>
            <button data-table-delete-selected class="btn btn-danger d-none">Delete</button>
          </div>

          <!-- Records Per Page -->
          <div>
            <select data-table-set-rows-per-page class="form-select form-control my-1 my-md-0">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
            </select>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-custom table-centered table-select table-hover w-100 mb-0">
            <thead class="bg-light align-middle bg-opacity-25 thead-sm">
              <tr class="text-uppercase fs-xxs">
                <th style="width: 25%">Position</th>

                <th>Job</th>
                <th class="text-center" style="width: 1%">Actions</th>
              </tr>
            </thead>
            <tbody id="priority_schedule_tbody">
              {% for job in priority_schedule_jobs_list %}
              <tr>
                <td>{{ job.schedule_position }}</td>
                <td>
                  <div class="d-flex">
                    <div>
                      <h5 class="mb-1">
                        <a href="/ecommerce-product-details" class="link-reset fw-normal">{{ job.job_name }}</a>
                      </h5>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex justify-content-center gap-1">
                    <a href="#" class="btn btn-light btn-icon btn-sm rounded-circle"><i class="ti ti-eye fs-lg"></i></a>
                  </div>
                </td>
              </tr>

              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="card-footer border-0">
          <div class="d-flex justify-content-end align-items-center">
            <div data-table-pagination></div>
          </div>
        </div>
      </div>
    </div>
    <!-- end col-->
  </div>

  <!-- end row -->
</div>
<!-- container -->

{% endblock page_content %} {% block extra_javascript %}
<script></script>
{# DROPZONE #}
<script src="{{ config.ASSETS_ROOT }}/plugins/dropzone/dropzone-min.js"></script>

{# PLUGINS #}
<script src="{{ config.ASSETS_ROOT }}/plugins/moment/moment.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/daterangepicker/daterangepicker.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/choices/choices.min.js"></script>
<!-- Tagify Plugin Js (CDN) -->
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify@4.35.1/dist/tagify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@yaireo/dragsort@1.3.2/dist/dragsort.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/quill/quill.js"></script>

{# CUSTOM JS #}
<script src="{{ config.ASSETS_ROOT }}/js/pages/form-quilljs.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/pages/manage-jobs.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/pages/custom-table.js"></script>

{% endblock extra_javascript %}
